body {
	margin: auto;
	width: 75%;
	padding: 5px;
}
body h2 {
	text-align: center;
}
.align-right {
	float: right;
}

/*Active Class*/

.active {
	background-color: white;
}

/*Top Navigation Bar*/

.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ddd;
}
.topnav li {
	float: left;
}
.topnav li a, .topnav li span {
	display: block;
	color: black;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}
.topnav li a:hover {
	background-color: white;
	color: black;
}

/*Photo Gallery*/

.featured {
	display: block;
	margin: auto;
	width: 50%;
}
.thumbnails {
	text-align: center;
}
.thumbnails li {
	display: inline;
}
.thumbnails img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

/* Browser responsiveness */

html {
	font-size: 1.7vw;
}
/*@media (max-width: 780px) {
	.topnav {
		font-size: 0;
	}
	.active {
	    position: relative;
	    display: inline-block;
		}
	.topnav a:not(.topnav .active) {
	    display: none;
	    background-color: #white;
	}
	.topnav:hover a:not(.topnav .active) {
		display: block;
	}
}*/