body {
	margin: auto;
	width: 75%;
	padding: 5px;
}
body h2 {
	text-align: center;
}
.align-right {
	float: right;
}
.topnav {
	background-color: #ddd;
	font-size: 0;
}
.topnav a, .topnav span {
	font-size: 16px;
	display: inline-block;
	padding: 8px;
	background-color: #ddd;
	color: black;
	text-decoration: none;
}
.topnav a:hover, .topnav .active {
	background-color: white;
}
.featured {
	display: block;
	margin: auto;
	width: 50%;
}
.thumbnails {
	text-align: center;
}
.thumbnails li {
	display: inline;
}
.thumbnails img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

/* Adding browser responsiveness */

@media (max-width: 725px) {
	.topnav a:not(.topnav .active) {
		display: none;
	}
}	