{% extends "menu.html" %} {% block content %}

<h2>Higher Education</h2>
<b><span><a href="http://www.northeastern.edu">Northeastern University</a></span> <span class="align-right">Boston, MA</span></b>
<br>
<i><span>Bachelor of Arts: Marketing, Journalism (minor)</span> <span class="align-right">Class of May, 2010</span></i>
<!-- <p><b>Description:</b> Coming soon...</p> -->
<h4>Electives Studied:</h4>
<ul>
<li>Islam</li>
<li>Sports Broadcasting</li>
<li>Sociology of Boston</li>
<li>Law of the Press</li>
</ul>
<h4>Extracurricular:</h4>
<ul>
<li>Member of Northeastern Crew Team</li>
<li>Sam Adams Brewery Tour Guide</li>
</ul>
<hr>
<h2>High School</h2>
<b><span><a href="http://www.hyde.edu">Hyde School</a></span> <span class="align-right">Bath, ME</span></b>
<br>
<i><span>Character Education, College Preperation</span> <span class="align-right">Class of May, 2005</span></i>
<!-- <p><b>Description:</b> Coming soon...</p> -->
<h4>Extracurricular:</h4>
<ul>
<li>Varsity Crew (Captain)</li>
<li>Varsity Nordic Skiing (Captain)</li>
<li>Performing Arts</li>
</ul>

{% endblock %}