{% extends "menu.html" %} {% block content %}

<h2>Higher Education:</h2>
<h3><span><a href="http://www.northeastern.edu">Northeastern University</a></span> <span>Boston, MA</span></h3>
<i><span>Bachelor of Arts: Marketing, Journalism (minor)</span> <span>Class of May, 2010</span></i>
<p><b>Description:</b> Coming soon...</p>
<h3>Electives Studied:</h3>
<ul>
<li>Islam</li>
<li>Sports Broadcasting</li>
<li>Sociology of Boston</li>
<li>Law of the Press</li>
</ul>
<h3>Extra Ciriculars:</h3>
<ul>
<li>Member of Northeastern Crew Team</li>
<li>Sam Adams Brewery Tour Guide</li>
</ul>
<hr>
<h2>High School:</h2>
<h3><span><a href="http://www.hyde.edu">Hyde School</a></span> <span>Bath, ME</span></h3>
<i><span>Character Education, College Preperation</span> <span>Class of May, 2005</span></i>
<p><b>Description:</b> Coming soon...</p>
<h3>Extra Ciriculars:</h3>
<ul>
<li>Varsity Crew (Captain)</li>
<li>Varsity Nordic Skiing (Captain)</li>
<li>Performing Arts</li>
</ul>

{% endblock %}