{% extends "menu.html" %} {% block content %}

<h2>Professional Experience</h2>
<b><span><a href="http://www.mullenloweus.com">MullenLowe US</a></span> <span class="align-right">Boston, MA</span></b>
<br>
<i><span>Senior IT Specialist</span> <span class="align-right">May, 2016-Present</span></i>
<h4>Responsibilities:</h4>
<ul>
<li>Senior level desktop support</li>
<li>JAMF Pro (Casper) Administrator</li>
<li>Egnyte cloud storage</li>
<li>Software packaging and script writing</li>
<li>Apple certified on-site hardware repair</li>
<li>Conference room builds and upgrades</li>
<li>User support documentation</li>
</ul>
<h4>Projects:</h4>
<ul>
<li>Large Scale Annual OS Upgrades</li>
<li>Print Server Buildout</li>
</ul>
<hr>
<b><span><a href="http://www.bostonglobe.com">Boston Globe Media Partners</a></span> <span class="align-right">Boston, MA</span></b>
<br>
<i><span>Senior Software Support Analyst</span> <span class="align-right">August, 2015-May, 2016</span></i>
<h4>Responsibilities:</h4>
<ul>
<li>Google environment administrator: Gmail, Calendar, Drive, Docs and Sheets</li>
<li>Active Directory administrator: user / group creation and management</li>
<li>Apple Hardware Repairs</li>
<li>Printer Support</li>
</ul>
<h4>Projects:</h4>
<ul>
<li>JAMF Pro Deployment</li>
</ul>
<hr>
<b><span><a href="http://www.puma.com">PUMA International</a></span> <span class="align-right">Boston, MA</span></b>
<br>
<i><span>IT Support Analyst II</span> <span class="align-right">February, 2011-August, 2015</span></i>
<h4>Responsibilities:</h4>
<ul>
<li>Help desk manager</li>
<li>Mobile device manager</li>
<li>Desktop support</li>
<li>Server and systems patching</li>
<li>Video conference room management</li>
<li>RSA SecurID administrator</li>
</ul>
<h4>Projects:</h4>
<ul>
<li>Corporate Office Relocation</li>
<li>Virtual Print Server Build</li>
<li>Analog to IP Phone Migration</li>
<li>Physical to digital VPN token migration</li>
</ul>

{% endblock %}