{% extends "menu.html" %} {% block content %}

<h2>Professional Experience:</h2>
<b><span><a href="http://www.mullenloweus.com">MullenLowe US</a></span> <span class="align-right">Boston, MA</span></b>
<br>
<i><span>Senior IT Specialist</span> <span class="align-right">May, 2016-Present</span></i>
<h4>Responsibilities:</h4>
<ul>
<li>User and Server Support</li>
<li>JAMF Pro (Casper) Administration</li>
<li>Apple Certified On-Site Hardware Repair</li>
<li>Conference Room Builds and Upgrades</li>
</ul>
<h4>Projects:</h4>
<ul>
<li>Large Scale Annual OS Upgrades</li>
<li>Print Server Buildout</li>
</ul>
<hr>
<b><span><a href="http://www.bostonglobe.com">Boston Globe</a></span> <span class="align-right">Boston, MA</span></b>
<br>
<i><span>Senior IT Specialist</span> <span class="align-right">August,2015-May, 2016</span></i>
<h4>Responsibilities:</h4>
<ul>
<li>User Support</li>
<li>Google Environment Administration</li>
<li>Apple Hardware Repairs</li>
<li>Printer Support</li>
</ul>
<h4>Projects:</h4>
<ul>
<li>JAMF Pro Deployment</li>
</ul>

{% endblock %}