{% extends "menu.html" %} {% block content %}

<h2>Photo Gallery</h2>
	<img class="featured" src="#">
	<ul class="thumbnails">
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
		<li><img src="#"></li>
	</ul>
<h2>More coming soon...</h2>

{% endblock %}