<html>
<link rel="stylesheet" href="static/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="static/js/main.js"></script>
  <head>
    <title>{{ title }} - Jesse M. Brower</title>
  </head>
  <body>
    <div>Jesse M. Brower: 
    <a href="/education">Education</a>
    <a href="/experience">Experience</a>
    <a href="/skills">Skills</a>
    <a href="/work">Work</a>
    <a href="/gallery">Gallery</a>
    <a href="/about">About Me</a>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>